
header {
	width: 100%;

	.container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.nav-container {
		background-color: #34414a;

		.navbar.navbar-default {
			background-color: #34414a;
			margin: 0;
			padding: 0;
			border: 0;
		}

		.navbar-brand img{
			margin-left:5%;
			padding: 0;
			max-height:100%;

			width:auto;
		}

		.navbar-brand{
			margin: 0;
			padding: 0;	
			width: 100%;
		}

		.navbar-header {
			margin: 0;
			padding: 0;
			width: auto;
		}

		.container-fluid {
			margin: 0;
			padding: 0;
		}

		a {
			font-family: 'Asap', sans-serif;
			color: white;
		}

		.nav.navbar-nav
		{
			text-align: center;
			width:auto;
			margin-left:2%;
			float:left;	
		}

		.navbar-default .navbar-nav > li > a {
		    font-family: 'Asap', sans-serif;
		    font-size: 18px;
			color: white;
		}

		.navbar-default .navbar-nav>li>a:hover {
		    text-decoration: underline;
		    color: #f06d6d;
		}

		.navbar-default .navbar-nav>li>.FB:hover {
		    color: #0074D9;
		}
		.navbar-collapse
		{
			.navbar-right {
				width:25%;
			}
		}
		.navbar>.container-fluid .navbar-brand {
		    margin-left: 0px; 
		}
	
		.navbar-right>li {
		    border-right: $border;
			border-left: $border;
			padding-left: 10%;
   		 	padding-right: 10%;
		}

		.navbar-default .navbar-nav>li>.FB {
			font-family: klavika-medium;
		}

		.currentPage {
		   color: #f06d6d !important;
		}
	}

	.fixed {
	    z-index: 9999;
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	}

	.imageDiv {
		position: relative;
    	height: 100%;
    	min-height:190px;
		width: 25%;
		padding: 0px;
		float: left;
		a {
			position: absolute; 
			top: 0; 
			display: block; 
			width: 100%; 
			height: 100%; 
			text-align: center; 
			text-decoration: none;
		}
		a .play, a .overlay {
			opacity: 0;
		}
		a:hover .play, a:hover .overlay {
			display: block; 
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			@media screen and (max-width: $break-medium) {
			    display: none;
		  	}
			@media screen and (max-width: $break-small) {
			    display: none;
		  	}
		  	
		}
		a:hover .play {
			position: relative; 
			font-size: 25px; 
			color: #ffffff; 
			top: calc(50% - 30px);
			z-index: 1000; 
			opacity: 1;
		}
		a:hover .overlay {
			position: absolute; 
			top: 0; 
			width: 100%; 
			height: 100%; background-color: #000000; 
			opacity: .7;
		}

		img{
			max-width: 100%;
	    	height: auto;
		}

		.caption-1 {
			width: 100%;
			position: absolute;
			z-index: 10;
			bottom: 0;
			h3
			{	 	
				@media screen and (max-width: $break-medium) 
				{
		    		font-size: 18px;
				}
			}
		}

		p{
			text-align: center;
			padding: 0;
			color: white;
			text-shadow: -2px 1px black;
			opacity: .9;
		}

		h3 {
			text-align: center;
			padding: 0;
			color: white;
			text-shadow: -2px 1px black;
			opacity: .9;
			font-size:18px;
		}
	}

	#myCarousel.carousel.slide {
		height: 100%;
		width: 100%;
		background-color:#34414a;
		opacity:1;
	}

	.carousel-inner {
		height: 100%;
		width: 100%;
	}

	.item.active {
		width: 100%;
		height: 100%;
	}

	.carousel-indicators {
		opacity: .5;
	    bottom: 0;
	}

	.carousel-control {
		width: 8%;
	}

	.carousel-control.left{
		z-index: 5000;
	}

	.carousel-control.right{
		z-index: 5000;
	}	

	.carousel-indicators .active {
		//color: gray;
	}
}


@media screen and (max-width: $break-medium) 
{
	.navbar-nav
	{
		float:left;
		width:100%!important;
		text-align: center;
		li
		{
			border:0px!important;
		}
	}
}
@media screen and (max-width: $break-small) 
{
	font-size: 18px;
}