#sidebar3 {
	background-color:white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
	width: 15%;
	float: left;
	background-color: #gegege;

	.filter {
		a {
			i {
				color:red;
				margin-left:2%;
			}
		}
	}

	nav {
		border-right: thin solid #cccccc;
		border-bottom:thin solid #cccccc;
		width: 100%;
	}

	ul {
		float: right;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #fff;
	}

	li {
		border-bottom: thin solid #cccccc;
	}

	li a {
		display: block;
		color: black;
		text-decoration: none;
		font-family: 'Asap', sans-serif;
		font-size: 18px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	li a:hover {
		color: #f06d6d;
	}

	li a:active {
		color: #f06d6d;
	}

	.currentLink {
	   color: #f06d6d;
	}
}
