//SubmitVideo
.submitContainer {
	background-color:white;
	padding-bottom:5%;
	width: 100%;
	font-family: $fontNav;
	@media screen and (max-width: $break-small) {
	    margin-top: 8%;
	}

	.submitWrapper {
		width: 40%;
		margin: auto;

		@media screen and (max-width: $break-small) {
		    width: 60%;
		}
	}
	input[type=submit] {
		height: 3em;
		width: 8em;
		background-color: #f06d6d;
		font-family: $fontNav;
		font-size: 18px;
	}

	.btn-primary {
	    color: #fff;
	    background-color: #f06d6d;
	    border-color: #f06d6d;
	}
}
//Contact us

.contactWrapper{
	width: 100%;
	@media screen and (max-width: $break-small) {
	    margin-top: 8%;		
	}

	.contactContainer {
		background-color: whitesmoke;
		width: 40%;
		margin: auto;
		padding: 0;
		font-family: $fontNav;
		@media screen and (max-width: $break-small) {
		    width: 60%;			
		}

		input[type=submit] {
			height: 3em;
			width: 8em;
			background-color: #f06d6d;
			font-family: $fontNav;
			font-size: 18px;
		}

		.btn-primary {
		    color: #fff;
		    background-color: #f06d6d;
		    border-color: #f06d6d;
		}
	}
}