$borderColor: #A9A9A9;
$navColor: #A9A9A9;
$navTextColor: #ff0000;

$border: thin solid #cccccc;
$font:'Open Sans', sans-serif;
$fontNav:'Asap', sans-serif;

$break-small: 418px;
$break-medium: 770px;
$break-large: 1200px;