@import "components/variables.scss";
@import "components/header.scss";
@import "components/sidebar.scss";
@import "components/submit-page.scss";


	.sense-video
	{
		float:left;
		width:100%;
		clear:both;
		text-align: center;
	}
	body
	{
		background-color:#eee;
	}
	.app-container
	{
		max-width:1400px;
		margin-left:auto;
		margin-right:auto;
		background:white;
	}

	.related .equal-height-thumbnail
	{
		width:100%;
	}
	.equal-height-thumbnail 
	{
		margin-left:auto;
		margin-right:auto;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
		width:85%;
	}

.equal-height-thumbnail li {
  width: 23%;
  min-width:22%;
  float:left;
  margin: 0 1% 20px;
  padding:0 0.5%;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  float:left;
}
.equal-height-thumbnail figure {
  display: block;
  margin: 5px 0;
  padding: 0;
  float:left;
}
.equal-height-thumbnail figure img{ width:100%;}
.caption 
{ 
	padding: 0;
	h2
	{
		float:left;
		width:100%;
		font-family: $font;
		font-weight: bold;
		font-size:14px;
		color:black;
	}

}

	.date-paragraph
	{
		float:left;
		font-family: $font;
		margin-top:auto;	
	}

/* videoclicked */

#videoContent
{
	float:left;
	width:100%;
	background:white;

	.fb-like
	{
		float:left;
		width:100%;
		text-align: center;
		min-height:15px;
		margin-top:2%;
		margin-bottom:2%;
	}
	.fb-share
	{
		background-color: #2b6fe1;
		font-size: 23px;
		padding: 20px;
		width: 70%;
		border-radius:4px;
		float:left;
		text-align: center;
		color:white;
		margin-left:15%;
		margin-right:15%;
		margin-top:2.5%;
		margin-bottom: 3%;
	}
	.VideoClickedTitle
	{	
		font-size:22px;
		margin-top:2.5%;
		margin-bottom:3%;
		float:left;
		width:80%;
		text-align: center;
		margin-left:10%;
		margin-right:10%;
	}
	.embed-responsive
	{
		float:left;
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}

	.videoinfo
	{
		float:left;
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}
}

/* videoclicked */





// tablets
	@media screen and (max-width: $break-medium) 
	{	
		#videoContent
		{
			.embed-responsive
			{
				width:90%;
				margin-left:5%;
				margin-right:5%;
			}
		}
		.container
		{
			display:none;
		}
		.navbar-header
		{
			.navbar-brand
			{
				width:50%!important;
				float:left;
			}	
		}


		.videosImages
		{
			margin-top:5%;
		}
		.equal-height-thumbnail
		{
			width:100%;
		}
		#sidebar3
		{
			display:none;
		}
		.equal-height-thumbnail li 
		{
			width:45%;
			margin-left:2.5%;
			margin-right:2.5%;
		}
	}
	// phone
	@media screen and (max-width: $break-small) 
	{
		#videoContent
		{
			.embed-responsive
			{
				width:98%;
				margin-left:1%;
				margin-right:1%;
			}
		}
		.equal-height-thumbnail li 
		{
			width:100%;
			margin:0px;
			padding:0px;
		}
		.videosImages .fb-share
		{
			width: 100%;
			margin: 0px;
		}
	}

// .videosImages {
// 	opacity:1;
// 	transition: opacity .5s ease-in;
// 	padding-top: 1%;
// 	background-color: #fff;
// 	float: left;
// 	width: 70%;
// 	box-sizing: border-box;
// 	-webkit-display: flex;
//     -webkit-flex-flow: row;
//     -webkit-flex-wrap: wrap;
//     -webkit-align-content: flex-start;
//     -webkit-justify-content: space-around;
//     display: flex;
// 	flex-flow: row;
// 	flex-wrap: wrap;
// 	align-content: flex-start;
// 	justify-content: space-around;
//     .main-header
// 	{
// 		float:left;
// 		width:100%;
// 		h1
// 		{
// 			text-align: center;
// 		}
// 	}

//     p {
// 		width: 100%;
// 		margin-left: 10px;
// 		color: gray;
// 		font-size: 12px;
// 		font-family: $font;
// 	}
	
// 	.videoImg {
// 		max-width: 25%;
// 		margin: 0;
// 		padding: 0;
// 		padding-right: 1%;
// 		padding-left: 1%;

// 		a {
// 			font-family: 'Asap', sans-serif;
// 			font-size: 14px;
// 			color: black;
// 		    text-decoration: none;

// 		}

// 		a:hover {
// 			text-decoration: underline;
// 		}


// 		.thumb {
// 	    	position: relative; 
// 	    	max-width: 100%; 
	    	
// 			a {
// 				position: absolute; 
// 				top: 0; 
// 				display: block; 
// 				width: 100%; 
// 				height: 100%; 
// 				text-align: center; 
// 				text-decoration: none;

// 			}
// 			a .play, a .overlay {
// 				opacity: 0;
// 			}
// 			a:hover .play, a:hover .overlay {
// 				display: block; 
// 				transition: opacity .25s ease-in-out;
// 				-moz-transition: opacity .25s ease-in-out;
// 				-webkit-transition: opacity .25s ease-in-out;
// 				@media screen and (max-width: $break-medium) {
// 				    display: none;
// 			  	}
// 				@media screen and (max-width: $break-small) {
// 				    display: none;
// 			  	}
			  	
// 			}
// 			a:hover .play {
// 				position: relative; 
// 				font-size: 60px; 
// 				color: #ffffff; 
// 				top: calc(50% - 30px); //////////////////
// 				z-index: 1000; 
// 				opacity: 1;
// 			}
// 			a:hover .overlay {
// 				position: absolute; 
// 				top: 0; 
// 				width: 100%; 
// 				height: 100%; background-color: #000000; 
// 				opacity: .7;
// 			}

// 			img{
// 				width: 100%;
// 		    	height: auto;
// 			}
// 		}

// 		a img{
// 			width: 100%;
// 	    	height: auto;
// 		}

// 		p {
// 			//padding: 0px;
// 			margin: 0;
// 			font-size: 12px;
// 			color: gray;
// 			font-family: 'Cuprum', sans-serif;
// 		}
// 	}
// }


// #videoContent {
// 	width: 100%;
// 	box-sizing: border-box;
// 	margin-bottom: 2%;
	
// 	.videoClickedContainer {
// 		padding-top: 1%;
// 		margin: auto;
//     	width: 70%; 
//     	background-color: white;
// 	}

// 	.fb-like.fb_iframe_widget
// 	{
// 		float:left;
// 		width:100%;
// 		margin-top:1%;
// 		text-align: center;
// 	}

//     .videoClicked {
//     	margin: auto;
//     	width: 100%; 	

//     	.infoText
// 		{
// 			float:left;
// 			width:50%;
// 			margin-left:25%;
// 			margin-right:25%;
// 		}
// 	}	
// 	.list-main-container
// 	{	
// 		background-color:#fff;
// 		float:left;
// 		width:100%;

// 		.VideoClickedTitle
// 		{
// 			float:left;
// 			width:100%;
// 			text-align: center;
// 		}

// 		.infoText
// 		{
// 			float:left;
// 			width:50%;
// 			margin-left:25%;
// 			margin-right:25%;
// 			border-bottom:1px solid $navColor;
// 		}
// 	}
// 	.VideoClickedTitle {
// 		font-family: 'Open Sans', sans-serif;
// 		margin-top: 0;
// 		padding: 0; 
// 		width:100%;
// 		padding-top:2%;
// 		padding-bottom:3%;
// 		text-align:center;


// 	}  

// 	.videoinfo {
// 		width: 100%;
// 		font-family: $font;
// 		background-color:white;
// 		float:left;

//     	p {
//     		display: block;
//     		float: right;
//     		margin: 0 0 10px; 
//     		width:80%;
//     		margin-left:10%;
//     		margin-right:10%;
//     	}

//     	.infoText {
//     		padding: 0;
//     		display: block;
//     		float: left;
//     		color:gray;
//     	} 	
// 	}

// 	.RelatedVideoText {
// 		font-weight: bold !important;
// 		padding: 1%;
// 		margin: 0;
// 		width: 100%;
// 	}
// 	.videoRelatedWrapper {
// 		padding-top: 5%;
// 		width: 100%;
// 		padding-bottom: 2%;

// 		.carousel-control {		    
// 		    font-size: 20px;
// 		    color: #fff;
// 		    text-align: center;
// 		    text-shadow: 0 1px 2px rgba(0,0,0,.6);
// 		    background-color: black;
// 		    opacity: .9;
// 		}
// 		.carousel-control {
// 			width: 8%;
// 		}

// 		.carousel-control.right{
// 			position: absolute;
// 		    top: 0;
// 		    bottom: 0;
// 		    right: 0;
// 		    //width: 15%;
// 		}

// 		.carousel-control.left{
// 			position: absolute;
// 		    top: 0;
// 		    bottom: 0;
// 		    left: 0;
// 		    //width: 15%;
// 		}
// 	}

// 	.containerRelated {		
// 		padding: 0px;
// 		margin: auto;
// 		width: 90%;
// 		box-sizing: border-box;
// 		box-sizing: border-box;
// 		-webkit-display: flex;
// 	    -webkit-flex-flow: row;
// 	    -webkit-flex-wrap: wrap;
// 	    -webkit-align-content: flex-start;
// 	    -webkit-justify-content: space-around;
// 	    display: flex;
// 		flex-flow: row;
// 		flex-wrap: wrap;
// 		align-content: flex-start;
// 		justify-content: space-around;

// 	    .videoImg {
// 		max-width: 25%;
// 		margin: 0;
// 		padding: 0;
// 		padding-right: 1%;
// 		padding-left: 1%;	

// 		a {
// 			font-family: 'Asap', sans-serif;
// 			font-size: 14px;
// 			color: black;
// 		    text-decoration: none;
// 		}

// 		a:hover {
// 			text-decoration: underline;
// 		}


// 		.thumb {
// 	    	position: relative; 
// 	    	max-width: 100%; 
// 			a {
// 				position: absolute; 
// 				top: 0; 
// 				display: block; 
// 				width: 100%; 
// 				height: 100%; 
// 				text-align: center; 
// 				text-decoration: none;
// 			}
// 			a .play, a .overlay {
// 				opacity: 0;
// 			}
// 			a:hover .play, a:hover .overlay {
// 				display: block; 
// 				transition: opacity .25s ease-in-out;
// 				-moz-transition: opacity .25s ease-in-out;
// 				-webkit-transition: opacity .25s ease-in-out;

// 				@media screen and (max-width: $break-medium) {
// 				    display: none;
// 			  	}
// 				@media screen and (max-width: $break-small) {
// 				    display: none;
// 			  	}
			  	
// 			}
// 			a:hover .play {
// 				position: relative; 
// 				font-size: 60px; 
// 				color: #ffffff; 
// 				top: calc(50% - 30px); //////////////////
// 				z-index: 1000; 
// 				opacity: 1;
// 			}
// 			a:hover .overlay {
// 				position: absolute; 
// 				top: 0; 
// 				width: 100%; 
// 				height: 100%; background-color: #000000; 
// 				opacity: .7;
// 			}

// 			img{
// 				width:100%!important;
// 				min-height:100px!important;
// 		    	height: auto;
// 			}
// 		}

// 		a img{
// 			max-width: 100%;
// 	    	height: auto;
// 		}

// 		p {
// 			//padding: 0px;
// 			margin: 0;
// 			font-size: 12px;
// 			color: gray;
// 			font-family: 'Cuprum', sans-serif;
// 		}
// 	}
// 	}
// }

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: landscape) {
// }

// //iphone 5, 6, 6+, galaxy 5/6 
// @media screen
//   and (max-width: 640px) 
//   and (max-height: 360px)
//   and (orientation: landscape),
//   screen and (max-width: 667px)
//   and (max-height: 375px)
//   and (orientation: landscape),
//   screen and (max-width: 736px)
//   and (max-height: 414px)
//   and (orientation: landscape) { 
//   	header {
//   		.container {
//   			display: none;
//   		}
//   		.navbar-brand img {
// 		    width: 60% !important;
// 		    margin-left:20% !important;
// 		    margin-right:20%;
// 	  	}
// 	  	.navbar-brand{
// 		    width: 100%;
// 		    height:auto;
// 		}
// 	  	.navbar-right > li {
// 	  		border: 0 !important;
// 	  	}
// 	  	.nav-container {
// 			.nav.navbar-nav {
// 				width: 100% !important;
// 			}
// 		}
// 	}
// 	#sidebar3 {
// 		display: none;
// 	}
// 	.videosImages {
// 		width: 100%;		
// 	}
// 	.videoClickedContainer {
// 	    width: 100% !important;
// 	    padding-top: 8%;
// 	 }
// 	.containerRelated {	
// 		width: 100% !important;
// 	}
// 	.videoImg {
// 		min-width: 45%;
// 	}
// }

// //iphone 5, 6, 6+, galaxy 5/6 
// @media screen
//   and (max-width: 360px) 
//   and (max-height: 640px)
//   and (orientation: portrait),
//   screen and (max-width: 375px)
//   and (max-height: 667px)
//   and (orientation: portrait),
//   screen and (max-width: 414px)
//   and (max-height: 736px)
//   and (orientation: portrait) { 
//   header {
//   		.container {
//   			display: none;
//   		}
//   		.navbar-brand img {
// 		    width: 60% !important;
// 		    margin-left:20% !important;
// 		    margin-right:20%;
// 	  	}
// 	  	.navbar-brand{
// 		    width: 100%;
// 		    height:auto;
// 		}	  	
// 	  	.navbar-right > li {
// 	  		border: 0 !important;
// 	  	}
// 	  	.nav-container {
// 			.nav.navbar-nav {
// 				width: 100% !important;
// 			}
// 		}
// 	}
// 	#sidebar3 {
// 		display: none;
// 	}
// 	.videosImages {
// 		width: 100%;		
// 	}
// 	.videoClickedContainer {
// 	    width: 100% !important;
// 	    padding-top: 8%;
// 	 }
// 	.containerRelated {	
// 		width: 100% !important;
// 	}
// 	.videoImg {
// 		min-width: 100%;
// 	}
// }

// //ipad
// @media screen
//   and (device-width: 768px) 
//   and (device-height: 1024px)
//   and (orientation: portrait) { 
//   header {
//   		.container {
//   			display: none;
//   		}
//   		.navbar-brand img {
// 		    width: 60% !important;
// 		    margin-left:20% !important;
// 		    margin-right:20%;
// 	  	}
// 	  	.navbar-brand{
// 		    width: 100%;
// 		    height:auto;
// 		}	  	
// 	  	.navbar-right > li {
// 	  		border: 0 !important;
// 	  	}
// 	  	.navbar-collapse .navbar-right {
// 		    width: 10% !important;
// 		}
// 	}
// 	#sidebar3 {
// 		display: none;
// 	}
// 	.videosImages {
// 		width: 100%;		
// 	}
// 	.videoClickedContainer {
// 	    width: 100% !important;
// 	    padding-top: 8%;
// 	 }
// 	.containerRelated {	
// 		width: 100% !important;
// 	}
// 	.videoImg {
// 		min-width: 33%;
// 	}
// 	.videosImages .videoImg a {
// 	    font-size: 18px;
// 	}
// }


// //ipad
// @media screen
//   and (device-width: 1024px) 
//   and (device-height: 768px)
//   and (orientation: landscape) { 
//   header {
//   		.container {
//   			.h3, h3 {
// 			    font-size: 16px;
// 			}
//   		}
// 	  	.navbar-right > li {
// 	  		border: 0 !important;
// 	  	}
// 	  	.navbar-collapse .navbar-right {
// 		    width: 10% !important;
// 		}
// 	}
// 	#sidebar3 {
// 		width: 15%;
// 	}
// 	.videosImages {
// 		width: 70%;		
// 	}
// 	.videoClickedContainer {
// 	    width: 100% !important;
// 	    padding-top: 8%;
// 	 }
// 	.containerRelated {	
// 		width: 100% !important;
// 	}
// 	.videoImg {
// 		min-width: 33%;
// 	}
// }